.header {
    background-color:  rgb(69, 22, 38);
}
.header h1 {
    margin: 13px 76px 11px 194px;
    position: relative;
    transform: translateY(30px);
    font-style: oblique;
    color: beige;
    font-size: 40px;
}
.header nav {
    text-align: center;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: -1px -29% 0px 0px;
    font-size: 21px;
}
.header nav a {
    color:white;
}
.header nav ul :hover {
    color:cadetblue;
}

.header nav ul {
    list-style-type: none;
    display: inline-flex;
    transform: translateX(82px);
    transform: translateY(-5px);
}
.header nav li {
    margin-right: 40px;
    color: aliceblue;
}
.body {
    background-color: rgb(188, 225, 255);
}
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/poudre_mountains.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;

}
#profile {
    height: 250px;
    width: 185px;
    transform: translate(17px, 24px);
}
#services {
    background-color: beige;
    background-position: 0%;
    transform: translate(50px, -103px);
    font-size: 30px;
    display: inline-block;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cards :hover {
     transform: scale(1.1);
}
.cards a{
    color: white;
}

#card1 {
    background-image: url(./images/resume.png);
    height: 400px;
    width: 400px;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}
#card1 a {
    color: black;
}
#card2 {
    background-image: url(./images/graph.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#card3 {
    background-image: url(./images/space.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}
#card4 {
    background-image: url(./images/BooksAPI.png);
    height: 400px;
    width: 700px;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}
#card5 {
    background-color:  rgb(69, 22, 38);
    height: 400px;
    width: 885px;
    background-size: cover;
    padding: 0, 10px, 0, 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer {
    background-color:  rgb(69, 22, 38);
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-between;
}
.footer #contact {
    padding-left: 100px;
}

.footer #email {
    padding-right: 100px;
}
.footer :hover {
    color: cadetblue;
}