.header {
    background-color: darkslategrey;
}
.header h1 {
    margin: 13px 76px 11px 194px;
    position: relative;
    transform: translateY(30px);
    font-style: oblique;
    color: beige;
    font-size: 40px;
}
.header nav {
    text-align: center;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: -1px -29% 0px 0px;
    font-size: 21px;
}
.header nav a {
    color:bisque;
}
.header nav ul :hover {
    color:coral;
}

.header nav ul {
    list-style-type: none;
    display: inline-flex;
    transform: translateX(82px);
    transform: translateY(-5px);
}
.header nav li {
    margin-right: 40px;
    color: aliceblue;
}
.body {
    background-color: rgb(188, 225, 255);
}
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/poudre_mountains.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;

}
#profile {
    height: 250px;
    width: 185px;
    transform: translate(17px, 24px);
}
#services {
    background-color: beige;
    background-position: 0%;
    transform: translate(50px, -103px);
    font-size: 30px;
    display: inline-block;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.flex-item1 {
    background-image: url(./images/resume.png);
    height: 400px;
    width: 400px;
    background-size: cover;
}
.flex-item2 {
    background-image: url(./images/graph.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
}
.flex-item3 {
    background-image: url(./images/space.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
}
.flex-item4 {
    background-image: url(./images/my_dog.jpeg);
    height: 400px;
    width: 400px;
    background-size: cover;
}